* {
  color: white;
  background-color: rgb(134, 130, 130);
  font-family: "roboto", sans-serif;
}

.nav-link {
  color: white;
}
.nav {
  margin-bottom: 2rem;
  margin-top: 1rem;
  justify-content: space-around;
}

.titre-Accueil {
  color: yellow;
  text-align: center;
  font-size: 2rem;
}

h1 {
  background-color: black;
  margin-bottom: 0;
}

.container-fluid {
  width: 80%;
  align-items: center;
}

.imgsAccueil{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
}
#imgAccueil1{
width: 35rem;
height: 26rem;
margin-top: 2rem;
margin-right:5rem ;
}
#imgAccueil2{
  width: 37rem ;
  height: 26rem;
  margin-top: 2rem;
}
#imgAccueil3{
  width: 70rem ;
  height: 12rem;
  margin-top: 2rem;
}
#ulName {
  padding-top: 0.5rem;
  padding-left: 0;
  margin-bottom: 0;
  flex-direction: column;
}