/*##########bodyy###########*/
body {
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
}
/*############nav#################*/

.rvfa {
    background: url(../images/nav-logo-accueil.png);
    background-size: cover;
    padding-bottom: 3rem;
    padding-right: 7rem;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    margin-right: 30rem;
    margin-left: 20rem;
}

.rvf1 {
    background: url(../images/nav-logo1.jfif);
    background-size: cover;
    padding-bottom: 3rem;
    padding-right: 7rem;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    margin-right: 10rem;
   
}

.rvf2 {
    background: url(../images/nav-logo2.jfif);
    background-size: cover;
    padding-bottom: 3rem;
    padding-right: 7rem;
    border-top-width: 2px;
    border-right-width: 3px;
    border-left-width: 3px;
    border-bottom-width: 3px;
    margin-right: 10rem;
}

.rvf3 {
    background: url(../images/nav-logo3.jfif);
    background-size: cover;
    padding-bottom: 3rem;
    padding-right: 7rem;
    border-top-width: 3px;
    border-right-width: 3px;
    border-left-width: 3px;
    border-bottom-width: 3px;
    margin-right: 0rem;
}
/*###########hearder##############*/
.titre-accueil {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    margin-top: 8rem;
    padding-left: 5rem;
    text-shadow: 1px 0 0;
    margin-bottom: 6rem;
}
/*############Foooter#################*/

#text-fo {
    font-size: 1.1rem;
    justify-content: flex-center;
    margin-top: 3rem;
    padding-left: 105rem;
    
}