/*############RETOUR VERS LE FUTUR 1#####################################################*/
/*##########bodyy###########*/
body {
    background-image: url(../images/fond-ecran10.jpg);
    color: rgb(237, 241, 245);
    font-size: 1.2rem;
}

/*############nav#################*/
.navig-b2 {
    background-color: rgb(4, 124, 4) !important;
    justify-content: center;
    padding: 0.1rem;
}

#titre-accueil {
    margin-bottom: 3rem;
    margin-left: 24rem;
    color: orangered;
}

.text-dintro {
    padding-right: 0rem;
    width: 18rem;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}



.text0 {
    margin-bottom: 3rem;
    margin-left: 5rem;
    width: 78rem;
}

.phrase-bas-photos-intro {
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: aqua;
}

.intro-photos {

    width: 35rem;
    padding-left: 20rem;
    margin-top: 32rem;
    margin-left: 2rem;
}


/*###########container rvf1#################*/
#prems-carousel {
    display: flex;
    flex-direction: row;
}

.text-carousel1 {
    margin-top: 4rem;
    padding-bottom: 10rem;
    margin-right: 6rem;
    font-size: 1.4rem;
    padding-left: 4rem;
}

.carou-rvf1 {
    margin-left: 0rem;
    width: 30rem;
    margin-top: 2rem;
}

.text-video {
    padding-bottom: 2rem;
}

.video-extrait-rvf1 {
    margin-top: 4rem;

}

.second-video-rvf1 {
    margin-left: 12rem;
    margin-right: 8rem;
}

.carou2-rvf1 {
    margin-left: 10rem;
    width: 30rem;
    margin-top: 2rem;
}

.text-carousel2 {
    margin-top: 6rem;
    padding-bottom: 10rem;
    margin-left: 2rem;
    font-size: 1.4rem;
    padding-left: 4rem;
}

.com-rvf1{

}