/*##############body##############*/
body {
    background-image: url(../images/fond-ecran1.jpg);
}


/*#############nav################*/
.navig-b {
    background-color: black !important;
    justify-content: center;
    padding: 0.1rem;
}

/*############header##############*/
.titre-accueil {
    color: goldenrod;
}

/*###########Container2###############*/
#texte-accueil {
    color:whitesmoke;
    margin-top: 2rem;
    margin-left: 4rem;
    justify-content: center;
    font-size: 1.4em;
    font-family: 'Indie Flower', cursive;
}

#gif-accueil {
    margin-top: 0rem;
    margin-left: 35rem;
    margin-bottom: 1rem;
}

/*############footer###############*/
#text-footer {
    background-color: mediumblue;
    padding-left: 102rem;
}
