/*##############body##############*/
body {
    background-image: url(../images/fond-ecran1.jpg);
}


/*#############nav################*/
.nav-acceuil {
    justify-content: center;
    padding: 0.1rem;
}

/*############header##############*/
.titre-accueil {
    color: goldenrod;
    margin-left: 12rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

/*###########Container2###############*/





#texte-accueil {
    color: whitesmoke;
    margin-top: 2rem;
    margin-left: 4rem;
    justify-content: center;
    font-size: 1.4em;
    font-family: 'Indie Flower', cursive;
}

.img-fluid {
    margin-top: 3rem;
    margin-left: 35rem;
    margin-bottom: 1rem;
    width: 30rem;
}

/*############footer###############*/
#text-footer {
    background-color: mediumblue;
    padding-left: 85rem;
}
.table{
    margin-top: 12rem;
}