body {
    background-image: url(../images/fond-ecran1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
}

/*############header##############*/
.titre-accueil {
    color: azure;
    font-size: 2rem;
    margin-top: 8rem;
    padding-left: 5rem;
    text-shadow: 1px 0 0;
    margin-bottom: 6rem;
}

/*###########Container2###############*/
#texte-accueil {
    color: white;
    margin-top: 2rem;
    margin-left: 4rem;
    justify-content: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.6em;

}

#gif-accueil {
    margin-top: 0rem;
    margin-left: 45rem;
}