body {
    background-image: url(../img/image-de-fond.jpg);
    background-size: 190rem;

}
/*########### Header et Nav#####################*/
#logohaut {
    width: 6em;
    padding-right: 0rem;
    margin-right: 3rem;

}

.nav-link {
    color: red;
    font-size: 1rem;
}

.navbar {
    width: 70rem;
    margin-bottom: 2rem;
    padding: 0rem;

}

.col {
    align-items: center;
    margin-left: 1rem;
}

.carousel-item {
    margin-left: 25rem;
    width: 60rem;
}

#carouselExampleIndicators {
    width: 120rem;
   
}

.carousel-control-prev{
width: 48rem;
}
.carousel-control-next{
margin-right: 25rem;
}
/*#################partie photos groupe###############*/


.col{
    padding: 0rem;
    margin-left: 2.5rem;
}


/*#################Container1######################*/

.col-2 {
    margin: 0;
    margin-left: 28rem;
}

.case-disc {
    background-color: white;
    margin-bottom: 2rem;
    margin-right: 5rem;
    width: 50rem;
}

.img-disco {
    width: 18rem;

}

/*###############Container2############*/







/*###############Container3############*/
.container3 {
    width: 90rem;
    margin-left: 18rem;

}

.contact {
    margin-bottom: 1rem;
}


.form-floating {
    color: red;

}

.butt-fin {
    margin-top: 2rem;

}

.titre {
    margin: 2rem 0rem;
    color: white;
    text-align: center;
}

.btn {
    margin-right: 3rem;
}
